.app-main {
	background-color: #F6F7FC;
	height: 100%;
	width: 100%;
	transition: .1s all ease-in;
	width: 100%;

	&.full {
		// width: calc(100% - 235px);
		.app-main-container {
			padding-left: 235px;
		}
	}

	&-header {
		position: relative;
		width: 100%;
	}

	&-container {
		margin: 40px 30px;
		height: 100%;
	}
}

@media screen and (max-width: 760px) {
	.app-main {
		width: 100% !important;

		&-container {
			padding-bottom: 100px;
			padding-left: 0px !important;
			margin: 40px 20px;
		}

		&-whiteblock {
			width: 100% !important;
		}
	}
}